<div class="navbar navbar-default navbar-fixed-top">
    <div style="display:flex; justify-items:center;">
        <div style="padding: 1rem;">
            <a href="#">
                <img src="~/Content/images/SE Logo.png" alt="SE Logo" style="height: 3.5rem" ; />
            </a>
        </div>
        <h1 style="color: #3DCD58; margin: 0rem auto;align-self: center">IT Control Tower</h1>
    </div>
</div>
