
<div class="card jumbotron" style="background-color: green; width:200px">
    @*<p class="words">{{name}}</p>*@
    <div class="text-center" style="color: white;">
        <p>hello</p>

    </div>

</div>
