<div class="navbar navbar-default navbar-fixed-top" style="display:flex; justify-content:center;">
    <img src="~/Content/images/SE Logo.png" alt="SE Logo" style="height:4rem;margin:0.5rem 1rem;"/>
    <h1 style="color:#3DCD58;align-self:center;font-size:3rem;margin:0rem auto;">IT Control Tower</h1>
</div>
