<div class="navbar navbar-default navbar-fixed-top">
    <div style="position:absolute;">
        <img src="~/Content/images/SE Logo.png" alt="SE Logo" style="height:6rem;padding:0.5rem 1rem;" />
    </div>
    <div style="display:flex;margin:0rem auto;margin-top:0; justify-content:center;align-items: center;">
        <h1 style="color:#3DCD58;font-family:Arial, Helvetica, sans-serif;align-self:center;font-size:3rem;">IT Control Tower</h1>
    </div>
</div>
