@{
    ViewBag.Title = "Home Page";
}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
</ol>
<div class="container">
    <h1>HAM Card</h1>
    <h1>SAM Card</h1>
    <h1>Compliance Card</h1>
</div>
