
@{
    ViewBag.Title = "multiPcDashboard";
}

<div>
    <iframe src="https://tableau.schneider-electric.com/views/PCRefresh/PCRefresh?:showAppBanner=false&:display_count=n&:showVizHome=n&:origin=viz_share_link?:embed=yes"
            width="1500px"
            height="1500px"></iframe>
</div>

