
@{
    ViewBag.Title = "index";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
</ol>
<div class="container">
    <h2>All the Cards</h2>
</div>


