
@{
    ViewBag.Title = "newHireDashboard";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("HAM", "Index", "HAM")</li>
    <li>@Html.ActionLink("Multiple PC", "multiPcDashboard", "HAM")</li>
</ol>
<h2>newHireDashboard</h2>

