
@{
    ViewBag.Title = "newHireDashboard";
}

<div>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("HAM", "Index", "HAM")</li>
        <li>@Html.ActionLink("New Hire", "newHireDashboard", "HAM")</li>
    </ol>
</div>
<h2>newHireDashboard</h2>

